<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" [(ngModel)]="user.firstName" id="userFirstName">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="user.lastName" id="userLastName">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" id="userEmail">
  </div>
  <div class="col">
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" id="userPassword">
  </div>
  <div class="col">
    <button class="btn btn-success" (click)="createUser()" id="saveButton">Save</button>
  </div>
</div>
